html {
 
  background-color: rgb(43, 41, 41);

}

body {

  display: flex;
  justify-content: center;


}

h1 {

  font-size: 90px;
  text-align: center;
  color: white;
  height: 70px;
  font-family: sans-serif;
  font-weight: 400;
 
}

input {

  border: none;
  background-color: rgb(77, 74, 74);
  border-radius: 20px;
  height: 45px;
  width: 43em;
  position: relative;
  display: flex;
  align-items: center;

}

button {

  position: relative;
  left: 8em;
  color: white;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  width: 12em;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(77, 74, 74);



}

.lupinha {

  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  position: relative;
  fill: white;
  top: -30px;

}

.itens {


  justify-content: flex-end;
  padding-right: 20px;
  position: absolute;
  top: 215px;
  right: 670px;
  fill: white;

}